.toolbar {
  position: absolute;
  width: 404px;
  height: 72px;
  left: -7px;
  top: 0px;

  background: #d9d9d9;
}
.leb-guide {
  display: flex;
  width: 103px;
  height: 46px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #392828;
}
ion-content.background {
  --ion-background-color: #ffffff;
  height: auto;
  width: auto;
}
.disp-container {
  background-color: #d9d9d9;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 320px;
  width: auto;
  height: fill;
}

.type-item {
  position: relative;
  height: 20px;
  left: 17px;
  right: 46px;
  top: 30px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */

  color: #545563;
}
.location-and-name {
  position: relative;
  height: 20px;
  left: 17px;
  right: 46px;
  top: 25px;
  text-transform: uppercase;
  font-family: "Rosario";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */

  color: #545563;
}
.details {
  position: relative;
  height: 20px;
  left: 18px;
  right: 303px;
  top: 28px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 655;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-decoration: underline;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  color: #714747;
}
