<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Lebanon's Guide</h1>
    <ion-button (click)="goBack()" class="back-button"
      ><ion-icon style="width: 150px" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </div>
  <div class="back-img">
    <img src="../../assets/images/resto 2.jpg" alt="" />
  </div>
  <div class="disp-container">
    <p id="type" class="type-item"></p>
    <h1 id="name" class="location-and-name">
      <ion-icon name="location-outline" style="margin-left: 10px"></ion-icon>
    </h1>
    <a (click)="viewDetails()" class="details">Read More</a>
  </div>
</ion-content>
