ion-content.background {
  --ion-background-color: #ffffff;
  height: auto;
  width: auto;
}
.toolbar {
  position: absolute;
  width: 404px;
  height: 72px;
  left: -7px;
  top: 0px;

  background: #d9d9d9;
}
.leb-guide {
  display: flex;
  width: 103px;
  height: 46px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #392828;
}
.box {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #888889;
  border-radius: 10px;
  margin-top: 180px;
  margin-left: 40px;
}
.info-header {
  position: absolute;
  height: 24px;
  left: 45px;
  right: 16px;
  top: 130px;

  /* H6 - bold 18 (24, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 0.1px;

  /* neutral/black */

  color: #2b2b43;
}
.acc-header {
  position: absolute;
  height: 28px;
  left: 30px;
  right: 30px;
  top: 87px;

  /* H5 - semibold 20 (28, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.1px;

  /* neutral/black */

  color: #2b2b43;
}
.box-input {
  box-sizing: border-box;
  border: 1px solid #888889;
  width: 90%;
  border-radius: 10px;
}
.fname-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 45px;
  right: 30px;
  top: 200px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.lname-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 45px;
  right: 30px;
  top: 253px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.phone-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 45px;
  right: 30px;
  top: 306px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.email-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 45px;
  right: 30px;
  top: 359px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.pass-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 45px;
  right: 30px;
  top: 412px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
