<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Lebanon's Guide</h1>
  </div>
  <div class="acc-container">
    <h1 class="acc-header">Account</h1>
    <h1 class="info-header">Personal Information</h1>
    <div class="box">
      <div class="fname-info">
        <div class="box-input">
          <ion-input type="text" placeholder="First Name"></ion-input>
        </div>
      </div>
      <div class="lname-info">
        <div class="box-input">
          <ion-input type="text" placeholder="Last Name"></ion-input>
        </div>
      </div>
      <div class="phone-info">
        <div class="box-input">
          <ion-input type="number" placeholder="Phone Number"></ion-input>
        </div>
      </div>
      <div class="email-info">
        <div class="box-input">
          <ion-input type="text" placeholder="Email"></ion-input>
        </div>
      </div>
      <div class="pass-info">
        <div class="box-input">
          <ion-input type="password" placeholder="Password"></ion-input>
        </div>
      </div>
      <ion-button
        type="submit"
        class="logout-button"
        color="red"
        style="padding: 0px"
        (click)="goToSignin()"
        >Log Out</ion-button
      >
      <ion-button
        type="submit"
        class="save-button"
        color="red"
        style="padding: 0px"
        >Save</ion-button
      >
    </div>
  </div>
</ion-content>
