<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Lebanon's Guide</h1>
    <ion-button (click)="goBack()" class="back-button"
      ><ion-icon style="width: 150px" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </div>

  <div class="disp-container">
    <div class="list" *ngFor="let value of [array];let i=index">
      {{value}} >
      <p class="type-item">{{type[i]}}</p>
      <h1 class="location-and-name">
        {{value.name}}<ion-icon
          name="location-outline"
          style="margin-left: 10px"
        ></ion-icon>
        {{value.location}}
      </h1>
      <div class="item-img">
        <img src="../../assets/images/{{value.image}}" alt="" />
      </div>
      <div class="item-desc">
        <p>{{value.description}}</p>
        <div class="empty"></div>
      </div>
    </div>
  </div>
</ion-content>
