.toolbar {
  position: absolute;
  width: 404px;
  height: 72px;
  left: -7px;
  top: 0px;

  background: #d9d9d9;
}
.leb-guide {
  display: flex;
  width: 103px;
  height: 46px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #392828;
}
ion-content.background {
  background-color: white;
  --background: url("../../assets/images/img-2.png");
  height: auto;
  width: auto;
}
.login {
  position: absolute;
  height: 82px;
  left: 30px;
  right: 30px;
  top: 107px;
  /* H1 - bold 60 (82, 0.1px) */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  /* identical to box height, or 137% */

  letter-spacing: 0.1px;

  color: #392828;
}

.signin-info {
  /* Sign in with your data that you entered during your registration. */

  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 205px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */

  color: #545563;
}
.fname-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 260px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.box {
  box-sizing: border-box;
  border: 1px solid #888889;
  border-radius: 10px;
}
.lname-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 333px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.phone-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 406px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.email-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 479px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.pass-info {
  /* Sign in with your data that you entered during your registration. */
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 552px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
