<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Lebanon's Guide</h1>
  </div>
  <div class="login-container">
    <h1 class="login">Sign Up</h1>
    <p class="signin-info">Sign up to receive news and updates</p>
    <div class="fname-info">
      <ion-label position="floating">First Name</ion-label>
      <div class="box">
        <ion-input type="text"></ion-input>
      </div>
    </div>
    <div class="lname-info">
      <ion-label position="floating">Last Name</ion-label>
      <div class="box">
        <ion-input type="text"></ion-input>
      </div>
    </div>
    <div class="phone-info">
      <ion-label position="floating">Phone Number</ion-label>
      <div class="box">
        <ion-input type="number"></ion-input>
      </div>
    </div>
  </div>
</ion-content>
