<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Lebanon's Guide</h1>
  </div>
  <div class="acc-container">
    <h1 class="acc-header">Add Review</h1>
    <h1 class="info-header">Review Information</h1>
    <div class="box">
      <div class="type-info">
        <div class="box-input">
          <ion-select required placeholder="Place Type">
            <ion-select-option value="restaurant">Restaurant</ion-select-option>
            <ion-select-option value="beach">Beach</ion-select-option>
            <ion-select-option value="cafe">Cafe</ion-select-option>
            <ion-select-option value="bar">Bar</ion-select-option>
            <ion-select-option value="rooftop">Rooftop</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="name-info">
        <div class="box-input">
          <ion-input
            type="text"
            required
            placeholder="Restaurant Name"
          ></ion-input>
        </div>
      </div>
      <div class="loc-info">
        <div class="box-input">
          <ion-input type="text" required placeholder="Location"></ion-input>
        </div>
      </div>
    </div>
  </div>
</ion-content>
