ion-content.background {
  --ion-background-color: #ffffff;
  height: auto;
  width: auto;
}
.starting-img {
  background-image: url("../../assets/images/img-3.png");
  background-color: white;
  position: absolute;
  width: 390px;
  height: 297px;
  left: 0px;
  top: 0px;
}
.leb-guide {
  display: flex;
  width: 103px;
  height: 46px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #392828;
}
