<ion-content class="background">
  <div class="starting-img">
    <h1 class="leb-guide">Lebanon's Guide</h1>
  </div>
  <div class="search-bar">
    <ion-label position="floating"></ion-label>
    <div class="box">
      <ion-icon class="search-icon" name="search-outline"></ion-icon>
      <ion-input
        [(ngModel)]="search"
        (keyup.enter)="submitSearch()"
        class="search-in"
        type="text"
        placeholder="Search"
      ></ion-input>
    </div>
  </div>
  <div class="list-places">
    <div class="resto-img">
      <img
        (click)="submitResto()"
        src="../../assets/images/resto1.png"
        alt="img"
      />
      <h1 class="resto-title">-Restaurants</h1>
    </div>
    <div class="beach-img">
      <img
        (click)="submitBeach()"
        src="../../assets/images/beach1.png"
        alt="img"
      />
      <h1 class="beach-title">-Beaches</h1>
    </div>
    <div class="cafes-img">
      <img
        (click)="submitCafe()"
        src="../../assets/images/cafe1.png"
        alt="img"
      />
      <h1 class="cafes-title">-Cafes</h1>
    </div>
    <div class="bar-img">
      <img (click)="submitBar()" src="../../assets/images/bar1.png" alt="img" />
      <h1 class="cafes-title">-Bars</h1>
    </div>
    <div class="rooftop-img">
      <img
        (click)="submitRooftop()"
        src="../../assets/images/rooftop1.png"
        alt="img"
      />
      <h1 class="resto-title">-Rooftops</h1>
    </div>
    <div class="website">
      <p>Follow us on instagram for more content.</p>
    </div>
  </div>
  <div class="empty"></div>
</ion-content>
