ion-content.background {
  --ion-background-color: #ffffff;
  height: auto;
  width: auto;
}
.starting-img {
  background-image: url("../../assets/images/img-3.png");
  background-color: white;
  position: absolute;
  width: 390px;
  height: 297px;
  left: 0px;
  top: 0px;
}
.leb-guide {
  display: flex;
  width: 103px;
  height: 46px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-top: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #392828;
}
.search-bar {
  position: absolute;
  height: 40px;
  left: 30px;
  right: 30px;
  top: 320px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */
  padding: 0;
  color: #545563;
}
.box {
  box-sizing: border-box;
  border: 1px solid #888889;
  border-radius: 10px;
}
.search-in {
  margin-top: -32px;
  margin-left: 13px;
}
.search-icon {
  margin-top: 15px;
  margin-left: 4px;
}
.resto-img {
  position: absolute;
  width: 358px;
  height: 461px;
  left: 15px;
  top: 405px;
}

.resto-title {
  position: absolute;
  height: 28px;
  left: 118px;
  right: -58px;
  top: 460px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.1px;

  /* neutral/black */

  color: #2b2b43;
}
.beach-title {
  position: absolute;
  height: 28px;
  left: 140px;
  right: -58px;
  top: 460px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.1px;

  /* neutral/black */

  color: #2b2b43;
}
.cafes-title {
  position: absolute;
  height: 28px;
  left: 145px;
  right: -58px;
  top: 460px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: 0.1px;

  /* neutral/black */

  color: #2b2b43;
}
.website {
  position: absolute;
  height: 40px;
  left: 63px;
  right: 30px;
  top: 3050px;

  /* Body 1 - regular 14 (20, 0.1px) */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.1px;

  /* neutral/gray dark */

  color: #545563;
}
.empty {
  position: absolute;
  height: 40px;
  left: 100px;
  right: 30px;
  top: 3150px;
}
.beach-img {
  position: absolute;
  width: 358px;
  height: 461px;
  left: 15px;
  top: 935px;
}
.bar-img {
  position: absolute;
  width: 358px;
  height: 461px;
  left: 15px;
  top: 1995px;
}
.cafes-img {
  position: absolute;
  width: 358px;
  height: 461px;
  left: 15px;
  top: 1465px;
}
.rooftop-img {
  position: absolute;
  width: 358px;
  height: 461px;
  left: 15px;
  top: 2525px;
}
