<ion-content class="background">
  <div class="starting-img">
    <h1 class="leb-guide">Lebanon's Guide</h1>
  </div>
  <div class="search-bar">
    <ion-label position="floating"></ion-label>
    <div class="box">
      <ion-icon class="search-icon" name="search-outline"></ion-icon>
      <ion-input
        (keyup.enter)="submit()"
        class="search-in"
        type="text"
        placeholder="Search"
      ></ion-input>
    </div>
  </div>
  <div class="list-places">
    <div class="resto-img">
      <img src="../../assets/images/resto 1.png" alt="img" />
      <h1 class="resto-title">-Restaurants</h1>
    </div>
    <div class="beach-img">
      <img src="../../assets/images/beach 1.png" alt="img" />
      <h1 class="beach-title">-Beaches</h1>
    </div>
    <div class="cafes-img">
      <img src="../../assets/images/cafe 1.png" alt="img" />
      <h1 class="cafes-title">-Cafes</h1>
    </div>
    <div class="bar-img">
      <img src="../../assets/images/bar 1.png" alt="img" />
      <h1 class="cafes-title">-Bars</h1>
    </div>
  </div>
</ion-content>
