ion-content.background {
  --ion-background-color: #ffffff;
  height: auto;
  width: auto;
}
.starting-img {
  background-image: url("../../assets/images/img-3.png");
  background-color: white;
  position: absolute;
  width: 390px;
  height: 297px;
  left: 0px;
  top: 0px;
}
